body{
    background-color: rgb(101, 99, 247);
    font-size: 25px;
}

.main-header{
    color: rgb(13, 21, 36);
}
.header{
    color: rgb(13, 21, 36);
    font-size: 25px;
}

.sub-header{
    color: rgb(13, 21, 36);
    font-size: 20px;
}
