body{
    background-color: rgb(179, 150, 248);

    font-size: 20px;
}

.main-header{
    text-align: center ;
    margin-top: 30px;
    margin-bottom: 15px;
    color: rgb(13, 21, 36);
    font-size: 45px;
}
.header{
    text-align: center ;
    color: rgb(13, 21, 36);
    font-size: 25px;
}

.header-text{
    color: rgb(13, 21, 36);
    font-size: 25px;
    width: 60vw;
    margin: 40px auto;
    text-align: left;
}

.list{
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}

.box{
    text-align: left;
    font-size: 22px;
    background-color: rgb(223, 189, 255);
    width: 34vw;
    padding: 10px;
    margin: 50px auto;
    border-radius: 20px;
    line-height: 50px;
}

.Javascript{
    width: 50vw;
}
